.About {
  background-color: #dfdfdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  text-align: center;
  font-size: calc(8px + 2vmin);
  color: black;
  margin: 2px 16px;
  max-width: 300px;
  max-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  border-radius: 5px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: '';
  clear: both;
  display: table;
}

.grade {
  color: grey;
}

.about-title h2 {
  text-align: center;
}
