.wrapper-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 150px;
  object-fit: cover;
}

.wrapper-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #fbfbfb;
  color: black;
  padding: 10px;
  border-color: 1em solid #5f5f5f;
  border-radius: 5px;
  text-align: left;
  box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.82);
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: black;
  font-weight: 600;
  font-size: 40px;
  margin: 30px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
