.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../assets/images/landing-page/img_landingPage_1.jpg');
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  margin: 0 auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: calc(10px + 2vmin);
  width: 70%;
  text-wrap: wrap;
}

.hero-text h1 {
  font-weight: 600;
  color: white;
  text-align: center;
}

@media screen and (min-width: 374px) and (max-width: 768px) {
  .hero-image {
    width: 100%;
    min-height: 60vh;
  }
  .hero-text {
    width: 100%;
    text-align: justify;
    text-wrap: wrap;
    font-size: calc(8px + 2vmin);
  }

  .hero-text h1 {
    font-size: calc(16px + 2vmin);
    font-weight: 500;
    color: white;
    text-align: center;
  }
  .hero-text {
    margin-bottom: 20px;
  }

  .My-Button {
    width: 100%;
  }
}
