.My-Footer {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  text-align: center;
  padding: 10px;
}

.My-Footer-link {
  color: white;
}

.My-Footer-link:hover {
  color: #ffa500;
  text-decoration: none;
  cursor: pointer;
}
